<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBgYqK0Ie82OURlnuoLk6uOgsJlJlT-gw</string>
	<key>GCM_SENDER_ID</key>
	<string>290818860474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accountant.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rentoc-c3bef</string>
	<key>STORAGE_BUCKET</key>
	<string>rentoc-c3bef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290818860474:ios:cc7f3a42a479ee7ec62983</string>
</dict>
</plist>